<section class="about-us-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 about-us-content">
                <img src="assets/images/5.jpg" alt="About Us Image" class="about-us-image">
                <div>
                    <h2 style="width: 20vw;">About Us</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor tristique leo at suscipit.
                        Nam scelerisque sollicitudin tellus, id fermentum magna tempus a. Donec at ligula vel nibh
                        malesuada placerat id nec neque.</p>
                    <p>Integer eget lectus ut ex tincidunt varius. Phasellus eget est odio. Suspendisse potenti. Sed sed
                        bibendum mi. Integer ac dui id nisi ultricies pharetra.</p>
                </div>
            </div>
        </div>
    </div>
</section>